<a href="https://colab.research.google.com/github/JCTSilva/FinalProject_IMT_CANCER/blob/main/Notebooks/data_separation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data information, functions and libraries**

## **Data importing**

In [26]:
!pip install gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.7.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2022.6.15)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

## **Functions**

In [27]:
def feature_selection(data_frame, col, feat):
  data_f = data_frame.loc[data_frame[col] == feat]
  return data_f

## **Libraries**

In [28]:
## Todas as bibliotecas utilizadas no projeto
import pandas as pd
import numpy as np
import gdown

# **Data first treatment**

## **Reading data**

In [29]:
# Install the file with the file ID in Google Drive
id = "1iISItpvWTJ0Tdao5Hrg-_p9mQhUsCBAL"
output = "paci_complete.csv"
gdown.download(id=id, output=output, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1iISItpvWTJ0Tdao5Hrg-_p9mQhUsCBAL
To: /content/paci_complete.csv
100%|██████████| 461M/461M [00:02<00:00, 192MB/s]

'paci_complete.csv'

In [30]:
data = pd.read_csv('/content/paci_complete.csv')
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (78,91) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ESCOLARI,IDADE,SEXO,UFNASC,UFRESID,IBGE,CIDADE,CATEATEND,DTCONSULT,CLINICA,...,REC03,REC04,IBGEATEN,CIDO,DSCCIDO,HABILIT,HABIT11,HABILIT1,HABILIT2,CIDADEH
0,3,84,1,SP,SP,3512308,CONCHAS,2,2014-02-24,12,...,NaN,NaN,3503307,82113,ADENOCARCINOMA TUBULAR,1,UNACON,1,1,Araras
1,9,61,2,SP,SP,3503307,ARARAS,9,2011-06-28,23,...,NaN,NaN,3503307,80003,NEOPLASIA MALIGNA,1,UNACON,1,1,Araras
2,9,83,2,SP,SP,3503307,ARARAS,9,2011-04-27,23,...,NaN,NaN,3503307,80703,CARCINOMA ESCAMOCELULAR SOE,1,UNACON,1,1,Araras
3,9,83,1,SP,SP,3503307,ARARAS,9,2011-03-09,23,...,NaN,NaN,3503307,80103,CARCINOMA SOE,1,UNACON,1,1,Araras
4,9,45,2,SP,SP,3551009,SAO VICENTE,1,2020-11-12,31,...,NaN,NaN,3548500,80103,CARCINOMA SOE,2,UNACON com Serviço de Radioterapia,1,1,Santos

In [31]:
data.shape

(1048575, 100)

## **General features selection**

ANODIAG: 2000-2017

CATEATEND: 2 - SUS

MORFOLOGIAS: 80703, 80723, 80733, 80743

ECGRUP: I, II, III, IV

HABILIT2: 4 - VOLUNTÁRIOS

In [32]:
df = data[['ESCOLARI', 'IDADE', 'SEXO', 'UFNASC', 'UFRESID', 'IBGE', 'CIDADE', 'CATEATEND', 'DTCONSULT',
      'DIAGPREV', 'DTDIAG', 'BASEDIAG', 'TOPO', 'TOPOGRUP', 'DESCTOPO', 'MORFO', 'DESCMORFO', 'EC',
      'ECGRUP', 'DTTRAT', 'NAOTRAT', 'TRATAMENTO', 'TRATHOSP', 'TRATFAPOS', 'CIRURGIA', 'RADIO', 'QUIMIO',
      'TMO', 'OUTROS', 'NENHUMAPOS', 'CIRURAPOS', 'RADIOAPOS', 'QUIMIOAPOS', 'HORMOAPOS', 'TMOAPOS', 'IMUNOAPOS',
      'OUTROAPOS', 'DTULTINFO', 'ULTINFO', 'CONSDIAG', 'TRATCONS', 'DIAGTRAT', 'ANODIAG', 'FAIXAETAR',
      'DRS', 'RRAS', 'DTRECIDIVA', 'RECNENHUM', 'RECLOCAL', 'RECREGIO', 'RECDIST', 'REC01', 'REC02',
      'REC03', 'REC04', 'IBGEATEN', 'CIDO', 'DSCCIDO', 'HABILIT2', 'CIDADEH']]

df.shape

(1048575, 60)

### **ANODIAG: 2000-2017**

In [33]:
anodiag = df.ANODIAG.value_counts()[[2000,2001,2002,2003,2004,2005,
                           2006,2007,2008,2009,2010,2011,
                           2012,2013,2014,2015,2016,2017]]
print('There are {} lines and each feature amount is:\n\n{}'.format(anodiag.sum(), anodiag))

There are 873992 lines and each feature amount is:

2000    27979
2001    30990
2002    34389
2003    35764
2004    38549
2005    42367
2006    41536
2007    43032
2008    45864
2009    49216
2010    51586
2011    57014
2012    58769
2013    62599
2014    65720
2015    63753
2016    62848
2017    62017
Name: ANODIAG, dtype: int64

In [34]:
dfv1 = pd.concat([feature_selection(df, 'ANODIAG', 2000),
                feature_selection(df, 'ANODIAG', 2001),
                feature_selection(df, 'ANODIAG', 2002),
                feature_selection(df, 'ANODIAG', 2003),
                feature_selection(df, 'ANODIAG', 2004),
                feature_selection(df, 'ANODIAG', 2005),
                feature_selection(df, 'ANODIAG', 2006),
                feature_selection(df, 'ANODIAG', 2007),
                feature_selection(df, 'ANODIAG', 2008),
                feature_selection(df, 'ANODIAG', 2009),
                feature_selection(df, 'ANODIAG', 2010),
                feature_selection(df, 'ANODIAG', 2011),
                feature_selection(df, 'ANODIAG', 2012),
                feature_selection(df, 'ANODIAG', 2013),
                feature_selection(df, 'ANODIAG', 2014),
                feature_selection(df, 'ANODIAG', 2015),
                feature_selection(df, 'ANODIAG', 2016),
                feature_selection(df, 'ANODIAG', 2017)], ignore_index=True)
dfv1.shape

(873992, 60)

### **CATEATEND: 2 - SUS**

In [35]:
dfv1.CATEATEND.value_counts()[[2]]

cateatend = dfv1.CATEATEND.value_counts()[[2]]
print('There are {} lines and each feature amount is:\n\n{}'.format(cateatend.sum(), cateatend))

There are 401626 lines and each feature amount is:

2    401626
Name: CATEATEND, dtype: int64

In [36]:
dfv1 = feature_selection(dfv1, 'CATEATEND', 2)
dfv1.shape

(401626, 60)

### **MORFO: 80703, 80723, 80733, 80743**

In [37]:
morfo = dfv1.MORFO.value_counts()[[80703, 80723, 80733, 80743]]
print('There are {} lines and each feature amount is:\n\n{}'.format(morfo.sum(), morfo))

There are 66713 lines and each feature amount is:

80703    66393
80723      156
80733       43
80743      121
Name: MORFO, dtype: int64

In [38]:
dfv1 = pd.concat([feature_selection(dfv1, 'MORFO', 80703), 
                  feature_selection(dfv1, 'MORFO', 80723), 
                  feature_selection(dfv1, 'MORFO', 80733), 
                  feature_selection(dfv1, 'MORFO', 80743)], ignore_index=True)
dfv1.shape

(66713, 60)

### **ECGRUP: I, II, III, IV**

In [39]:
ecgrup = dfv1.ECGRUP.value_counts()[['I', 'II', 'III', 'IV']]
print('There are {} lines and each feature amount is:\n\n{}'.format(ecgrup.sum(), ecgrup))

There are 62791 lines and each feature amount is:

I      21629
II     10119
III    10908
IV     20135
Name: ECGRUP, dtype: int64

In [40]:
dfv1 = pd.concat([feature_selection(dfv1, 'ECGRUP', 'I'), 
                  feature_selection(dfv1, 'ECGRUP', 'II'), 
                  feature_selection(dfv1, 'ECGRUP', 'III'), 
                  feature_selection(dfv1, 'ECGRUP', 'IV')], ignore_index=True)
dfv1.shape

(62791, 60)

### **HABILIT2: 1,2,3,5**

In [41]:
habilit2 = dfv1.HABILIT2.value_counts()[[1,2,3,5]]
print('There are {} lines and each feature amount is:\n\n{}'.format(habilit2.sum(), habilit2))

There are 62571 lines and each feature amount is:

1    22178
2    39807
3      467
5      119
Name: HABILIT2, dtype: int64

In [42]:
dfv1 = pd.concat([feature_selection(dfv1, 'HABILIT2', 1), 
                  feature_selection(dfv1, 'HABILIT2', 2), 
                  feature_selection(dfv1, 'HABILIT2', 3), 
                  feature_selection(dfv1, 'HABILIT2', 5)], ignore_index=True)
dfv1.shape

(62571, 60)

## **Mouth**

TOPO: C003, C004, C005, C006, C008, C009, C020, C021, C022, C023, C028, C029, C030, C031, C039, C040, C041, C048, C049, C050, C059, C060, C061, C062, C068, C069

In [43]:
boca = dfv1.TOPO.value_counts()[['C003', 'C004', 'C005', 'C006', 'C008', 'C009', 'C020', 'C021',
                                 'C022', 'C023', 'C028', 'C029', 'C030', 'C031', 'C039', 'C040',
                                 'C041', 'C048', 'C049', 'C050', 'C059', 'C060', 'C061', 'C062',
                                 'C068', 'C069']]
print('There are {} lines and each feature amount is:\n\n{}'.format(boca.sum(), boca))

There are 6249 lines and each feature amount is:

C003       6
C004      61
C005      12
C006      32
C008       6
C009      60
C020     110
C021     980
C022      61
C023      31
C028     101
C029    1463
C030      56
C031     178
C039      78
C040     222
C041     113
C048      77
C049     962
C050     215
C059     169
C060     208
C061      20
C062     497
C068      16
C069     515
Name: TOPO, dtype: int64

In [44]:
df_boca = pd.concat([feature_selection(dfv1, 'TOPO', 'C003'),
                     feature_selection(dfv1, 'TOPO', 'C004'),
                     feature_selection(dfv1, 'TOPO', 'C005'),
                     feature_selection(dfv1, 'TOPO', 'C006'),
                     feature_selection(dfv1, 'TOPO', 'C008'),
                     feature_selection(dfv1, 'TOPO', 'C009'),
                     feature_selection(dfv1, 'TOPO', 'C020'),
                     feature_selection(dfv1, 'TOPO', 'C021'),
                     feature_selection(dfv1, 'TOPO', 'C022'),
                     feature_selection(dfv1, 'TOPO', 'C023'),
                     feature_selection(dfv1, 'TOPO', 'C028'),
                     feature_selection(dfv1, 'TOPO', 'C029'),
                     feature_selection(dfv1, 'TOPO', 'C030'),
                     feature_selection(dfv1, 'TOPO', 'C031'),
                     feature_selection(dfv1, 'TOPO', 'C039'),
                     feature_selection(dfv1, 'TOPO', 'C040'),
                     feature_selection(dfv1, 'TOPO', 'C041'),
                     feature_selection(dfv1, 'TOPO', 'C048'),
                     feature_selection(dfv1, 'TOPO', 'C049'),
                     feature_selection(dfv1, 'TOPO', 'C050'),
                     feature_selection(dfv1, 'TOPO', 'C059'),
                     feature_selection(dfv1, 'TOPO', 'C060'),
                     feature_selection(dfv1, 'TOPO', 'C061'),
                     feature_selection(dfv1, 'TOPO', 'C062'),
                     feature_selection(dfv1, 'TOPO', 'C068'),
                     feature_selection(dfv1, 'TOPO', 'C069')], ignore_index=True)
df_boca.shape

(6249, 60)

## **Oropharynx**

TOPO: C019, C051, C052, C058, C090, C091, C098, C099, C100, C101, C102, C103, C108, C109, * **C142 - não há** *

In [45]:
oro = dfv1.TOPO.value_counts()[['C019', 'C051', 'C052', 'C058', 'C090',
                                'C091', 'C098', 'C099', 'C100', 'C101',
                                'C102', 'C103', 'C108', 'C109']]
print('There are {} lines and each feature amount is:\n\n{}'.format(oro.sum(), oro))

There are 6293 lines and each feature amount is:

C019    1751
C051     750
C052     120
C058      52
C090     200
C091     266
C098      60
C099     705
C100     128
C101      56
C102     233
C103      88
C108     253
C109    1631
Name: TOPO, dtype: int64

In [46]:
df_oro = pd.concat([feature_selection(dfv1, 'TOPO', 'C019'),
                    feature_selection(dfv1, 'TOPO', 'C051'),
                    feature_selection(dfv1, 'TOPO', 'C052'),
                    feature_selection(dfv1, 'TOPO', 'C058'),
                    feature_selection(dfv1, 'TOPO', 'C090'),
                    feature_selection(dfv1, 'TOPO', 'C091'),
                    feature_selection(dfv1, 'TOPO', 'C098'),
                    feature_selection(dfv1, 'TOPO', 'C099'),
                    feature_selection(dfv1, 'TOPO', 'C100'),
                    feature_selection(dfv1, 'TOPO', 'C101'),
                    feature_selection(dfv1, 'TOPO', 'C102'),
                    feature_selection(dfv1, 'TOPO', 'C103'),
                    feature_selection(dfv1, 'TOPO', 'C108'),
                    feature_selection(dfv1, 'TOPO', 'C109')], ignore_index=True)
df_oro.shape

(6293, 60)

## **Exporting Mouth and Oropharynx datasets**

In [47]:
df_boca.shape

(6249, 60)

In [48]:
df_oro.shape

(6293, 60)

In [49]:
df_boca.to_csv(r'/content/drive/MyDrive/TCC_2022/data/cancer_boca.csv')
df_oro.to_csv(r'/content/drive/MyDrive/TCC_2022/data/cancer_orofaringe.csv')